<p id="notice"><%= notice %></p>

<div class="row">
  <div class= "col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Company Profile</h2>
      </div>
        <div class="panel-body">
          <div class = "row">
            <div class="col-md-6">

              <%= image_tag @company_profile.logo, class:'img-responsive', alt: @company_profile.company_name + 'logo' %>
</div>

<div class = "col-md-6">
  <h3><%= @company_profile.company_name %></h3>

  <p class = 'lead'><%= @company_profile.company_type %>

  </p>
</div>

</div>

<p>
  <strong>Contact name:</strong>
  <%= @company_profile.contact_name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @company_profile.formatted_address %>
</p>
<div id="map"></div>
<p>
  <strong>Company info:</strong>
  <%= @company_profile.description %>
</p>
<p>
  <strong>Company culture :</strong>
  <%= @company_profile.company_culture %>
</p>
<% if @company_profile.user == current_user %>
  <%= link_to 'Edit company profile', edit_company_profile_path(@company_profile), class: 'btn btn-warning btn-sm' %>
  <%= link_to 'Add Job Listing',
  new_job_listing_path(company_profile: @company_profile), class: 'btn btn-info btn-sm' %>
  <% end %>

</div>
</div>
</div>
</div>

<script>

      function initMap() {
        var myLatLng = {lat: <%= @company_profile.latitude %>, lng: <%= @company_profile.longitude %> };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: '<%= @company_profile.company_name %>'
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEpjv0_vdj6aIVME6bP-51KdIRVzBieEo&callback=initMap">
    </script>
